@import url("https://unpkg.com/leaflet@1.6.0/dist/leaflet.css");

.App {
  display: flex;
  flex-direction: column;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.video-container {
  display: flex;
  justify-content: space-between;
}

.chapter-list {
  height: 300px; 
  overflow-y: auto;
  padding: 20px;
  border: 1px solid #ccc;
}

